<form action ="/links" method ="post">
  <label>
    Title
    <input type = "text" name = "title"/>
  </label>
  <label>
    Url
    <input type = "text" name = "url"/>
  </label>
  <label>
  Submit
  <input type = "submit" value = "submit"/>
  </label>
</form>
